body{
    background-color: lightgrey;
}

header{
    background-color: rgb(237, 237, 237);
}

/* Music <div> block */
.tunes{
    border-style: solid;
    border-radius: 5px
}

/* <audio> */
#mytunes{
    scale: .75;
    border-radius: 5px
}

footer{
    background-color:rgb(237, 237, 237);
    font-size: 10px;
}

.footer_text{
    color: rgb(rgb(101, 101, 101))
}