html{
    scroll-behavior: smooth;
}

body, h1, h3{
    margin: 0;
    text-align: center;
}

/* --------------------------------------- */

header{
    background-color: hsl(0, 0%, 84%);
}

/* --------------------------------------- */

#main{
    background-color: tomato;
}

#contact{
    background-color: rgb(255, 255, 152);
}

#projects{
    background-color: rgb(60, 255, 60);
}

#skills{
    background-color: rgb(0, 238, 255);
}

/* --------------------------------------- */

footer{
    background-color: rgb(168, 0, 219);
}