html{
    scroll-behavior: smooth;
}

/* Background image */
body{
    background-image: url("assets/hawaii_mountains.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

/* --------------------------------------------------------- */

header{
    height: 80px;
    background-color: rgb(0, 0, 0, .5);
    position: sticky;
    top: 0px;
}

/* Main content borders */
main{
    border: 5px solid;
    border-radius: 10px;
    background-color: rgb(233, 233, 233, 0.5);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 1000px;
}

    /* Music player object */
    .tunes{
        background-color: rgb(255, 255, 255, .5);
        height: 130px;
        position: relative;
        scroll-margin-top: 100px;
    }

        #music-header{
            position: absolute;
            display: inline;
            font-size: 35px;
            left: 20px;
            top: 13px;
        }

        #audio-player{
            position: absolute;
            display: inline;
            top: 40px;
            right: 20px;
            width: 600px;
        }
    
    /* Greeting section */
    .home{
        background-color: rgba(255, 255, 255, 0.306);
        height: 435px;
        position: relative;
        scroll-margin-top: 100px;
    }

        #me-picture{
            position: absolute;
            width: 300px; /* 4:5 ratio, so 375=height (width=300) */
            right: 30px;
            top: 30px;
        }


footer{
    background-color: rgb(128, 128, 128, .5);
    font-size: 12px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}