html{
    scroll-behavior: smooth;
}

/* -----------  margin tweaking  ----------- */

body, h1, h3{
    margin: 0;
    text-align: center;
}

/* ----------  personal styling  ---------- */

body{
    background-image: url("assets/hawaii_pictures/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

main{
    border: 5px solid;
    border-radius: 10px;
    background-color: rgb(233, 233, 233, 0.5);
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10vh;
}

/* ---------------  Header  --------------- */

header{
    box-sizing: border-box;
    padding-top: 2vh;
    background-color: hsl(0, 0%, 84%, .5);
    height: 15vh;
}

/* -----------  Nagivation bar  ----------- */

.navbar{
    background-color: hsl(0, 0%, 74%, .5);
    position: sticky;
    top: 0px;
    height: 7vh;
    display: flex;
    align-items: center;
}

.box{
    width: 10%;
    height: 100%;
    line-height: 7vh;
    text-decoration: none;
    color: black;

}

#box1:hover{
    background-color: hsl(9, 100%, 64%, .5);
}

#box2:hover{
    background-color: rgb(255, 255, 152, .5);
}

#box3:hover{
    background-color: rgb(60, 255, 60, .5);
}

#box4{
    border-right: 1px solid hsl(0, 0%, 0%, .5);
}

#box4:hover{
    background-color: rgb(0, 238, 255, .5);
}

#care{
    width: 18%;
}

.navbar audio{
    height: 80%;
    width: 40%;
    padding-right: 2%;
}

/* ----------------  main  ---------------- */

#main{
    background-color: hsl(9, 100%, 64%, .5);
    scroll-margin-top: 7vh;
}

/* ---------------  contact  --------------- */

#contact{
    background-color: rgb(255, 255, 152, .5);
    scroll-margin-top: 7vh;
    height: 60vh;
}

.contact-boxes{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contact-box{
    background-color: rgb(98, 98, 0, .5);
    margin-top: 2%;
    height: 70%;
    width: 20%;
    border-radius: 35px;
}

.contact-box > a, .contact-box > a:visited{
    color: hsl(180, 100%, 50%, .5);
}

.contact-box > a:hover{
    color: rgb(139, 255, 255);
}

/* --------------  projects  -------------- */

#projects{
    background-color: rgb(60, 255, 60, .5);
    scroll-margin-top: 7vh;
}

/* ---------------  skills  --------------- */

#skills{
    background-color: rgb(0, 238, 255, .5);
    scroll-margin-top: 7vh;
}

/* ---------------  footer  --------------- */

footer{
    background-color: hsl(0, 0%, 84%, .5);
    height: 25vh;
}