body{
    background-color: lightgrey;
}

header{
    background-color: rgb(237, 237, 237);
}

footer{
    background-color:rgb(237, 237, 237);
    font-size: 10px;
    color: rgb(rgb(101, 101, 101))
}