html{
    scroll-behavior: smooth;
}

body, h1, h3{
    margin: 0;
    text-align: center;
}

/* ---------------  Header  --------------- */

header{
    box-sizing: border-box;
    padding-top: 2vh;
    background-color: hsl(0, 0%, 84%);
    height: 15vh;
}

/* -----------  Nagivation bar  ----------- */

.navbar{
    background-color: hsl(0, 0%, 74%);
    position: sticky;
    top: 0px;
    height: 7vh;
    display: flex;
    align-items: center;
}

.box{
    width: 10%;
    height: 100%;
    line-height: 7vh;
    text-decoration: none;
    color: black;
    background-color: hsl(0, 0%, 77%);

}

#box1:hover{
    background-color: tomato;
}

#box2:hover{
    background-color: rgb(255, 255, 152);
}

#box3:hover{
    background-color: rgb(60, 255, 60);
}

#box4{
    border-right: 1px solid black;
}

#box4:hover{
    background-color: rgb(0, 238, 255);
}

/* ----------------  main  ---------------- */

#main{
    background-color: tomato;
    scroll-margin-top: 7vh;
}

/* ---------------  Contact  --------------- */

#contact{
    background-color: rgb(255, 255, 152);
    scroll-margin-top: 7vh;
    height: 60vh;
}

.contact-boxes{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contact-box{
    background-color: rgb(98, 98, 0);
    margin-top: 2%;
    height: 70%;
    width: 20%;
    border-radius: 35px;
}

.contact-box > a, .contact-box > a:visited{
    color: aqua;
}

.contact-box > a:hover{
    color: rgb(139, 255, 255);
}

/* --------------  projects  -------------- */

#projects{
    background-color: rgb(60, 255, 60);
    scroll-margin-top: 7vh;
}

/* ---------------  skills  --------------- */

#skills{
    background-color: rgb(0, 238, 255);
    scroll-margin-top: 7vh;
    height: 1000px;
}

/* ---------------  footer  --------------- */

footer{
    background-color: rgb(168, 0, 219);
}