#message{
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}

.main-boxes{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    column-gap: 2%;
}

.main-box{
    height: 200px;
}

#mbox1{
    margin: auto;
    width: 60%;
    flex: 3;
}

#mbox2{
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.fa-solid.fa-file-lines.fa-6x, .fa-solid.fa-file-lines.fa-6x:visited{
    color: rgba(0, 0, 0, 0.5);
}

.fa-solid.fa-file-lines.fa-6x:hover{
    color: rgba(0, 0, 0);
}

#mbox3{
    flex: 1
}

#me-picture{
    height: 200px;
}