.navbar{
    background-color: hsl(0, 0%, 74%, .5);
    position: sticky;
    top: 0px;
    height: 40px;
    display: flex;
    align-items: center;
}

.box{
    width: 10%;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    color: black;

}

#box1:hover{
    background-color: hsla(29, 100%, 71%, 0.5);
}

#box2:hover{
    background-color: rgb(255, 255, 152, .5);
}

#box3:hover{
    background-color: rgb(60, 255, 60, .5);
}

#box4{
    border-right: 1px solid hsl(0, 0%, 0%, .5);
}

#box4:hover{
    background-color: rgb(0, 238, 255, .5);
}

#care{
    width: 18%;
}

.navbar audio{
    height: 80%;
    width: 40%;
    padding-right: 2%;
}