.navbar{
    text-align: center;
    background-color: hsl(0, 0%, 74%, .5);
    position: sticky;
    top: 0px;
    height: 40px;
    display: flex;
    align-items: center;
}

.box{
    width: 10%;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    color: black;
}

/* Button styling */
.box:hover{
    background-color: rgba(87, 207, 255, 0.5);
}

.box2{
    border-right: 1px solid black;
}