.navbar{
    background-color: hsl(0, 0%, 74%, .5);
    position: sticky;
    top: 0px;
    height: 40px;
    display: flex;
    align-items: center;
}

.box{
    width: 10%;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    color: black;
}

/* Web page links */
.box1:hover, .box2:hover{
    background-color: hsl(0, 0%, 74%, .8);
}

.box2{
    border-right: 1px solid black;
}

.box3:hover{
    background-color: hsla(29, 100%, 71%, 0.5);
}

.box4:hover{
    background-color: rgb(60, 255, 60, .5);
}

.box5:hover{
    background-color: rgb(0, 238, 255, .5);;
}