html{
    scroll-behavior: smooth;
    background-color: hsl(0, 0%, 74%, .8);
}

body, h1, h3{
    margin: 0;
    text-align: center;
}

body{
    background-image: url("../assets/hawaii_pictures/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}