html{
    scroll-behavior: smooth;
    background-color: rgb(0, 98, 137);
}

body, h1, h3{
    margin: 0;
}

body{
    background-image: url("../assets/hawaii_pictures/2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

main{
    background-color: rgb(233, 233, 233, 0.3);
    border: 4px solid;
    border-radius: 10px;

    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
}