#main{
    background-color: rgba(223, 255, 255, 0.6);
}

    #bio{
        display: flex;
        column-gap: 20px;
        align-items: center;
    }

    #bio p{
        font-size: 1.3em;
        text-align: center;
    }

    #me-picture{
        max-height: 195px;
    }

#contact{
    background-color: rgba(172, 195, 173, 0.6);
}

#skills{
    background-color: rgba(120, 135, 90, 0.8);
}

    .icon_list{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 20px;
    }

    .divider{
        width: 100%;
        max-width: 100%;
    }