main{
    border: 4px solid;
    border-radius: 10px;
    background-color: rgb(233, 233, 233, 0.3);

    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
}

    .opener{
        grid-column: 1 / -1;
        text-align: center;
        border-bottom: 1px solid;
    }

section{
    scroll-margin-top: 40px;
    padding: 20px;
}

header{
    box-sizing: border-box;
    padding-top: 1%;
    background-color: hsl(0, 0%, 84%, .5);
    text-align: center;
}

    header h3{
        padding-bottom: 15px;
    }

footer{
    background-color: hsl(0, 0%, 74%, .8);
    font-size: .8em;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    column-gap: 0px;
}

footer > *{
    width: 30%;
}