header{
    box-sizing: border-box;
    padding-top: 1%;
    background-color: hsl(0, 0%, 84%, .5);
    text-align: center;
}

    header h1{
        font-size: 3em;
    }

    header h3{
        padding-bottom: 15px;
        font-size: 1.5em;
    }

section{
    scroll-margin-top: 40px;
    padding: 20px;
}

footer{
    background-color: hsl(0, 0%, 74%, .8);
    font-size: .8em;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    column-gap: 0px;
}

footer > *{
    width: 30%;
}

.opener{
        text-align: center;
        font-size: 2.5em;
        border-bottom: 1px solid;
        margin-bottom: 20px;
        padding-bottom: 5px;
}