/* Full document styling */
@import "base.css";
@import "layout.css";

/* Specific web page styling */
@import "index.css";
@import "projects.css";

/* Distinct component styling */
@import "components/navbar.css";
@import "components/contact.css";
@import "components/main_section.css";