@import "base.css";
@import "layout.css";
@import "sections.css";
@import "components/navbar.css";
@import "components/contact.css";
@import "components/main_section.css";

@import "projects_sections.css";