/* Page section arrangement */
.projects, .projects h1, .projects h3{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.projects div{
    width: 100%;
}

/* Uniform project display*/

.project{
    margin: 20px;
}

.source-code{
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fa-solid.fa-code.fa-6x, .fa-solid.fa-code.fa-6x:visited{
    color: rgba(0, 0, 0, 0.5);
}

.fa-solid.fa-code.fa-6x:hover{
    color: rgb(0, 0, 0);
}

/* Sepecific section styling */
#toc{

}

#pig{

}

#vm{

}

#tlm{

}