.intro{
    background-color: rgb(0, 238, 255, .5);
    height: 200px;
    display: flex;
}

#box12{
    border-right: 1px solid hsl(0, 0%, 0%, .5);
}

#box12:hover{
    background-color: hsla(29, 100%, 71%, 0.5);
}