.display-box{
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

    .display-box.pw{
        background-color: rgba(223, 255, 255, 0.4);
    }

    .display-box.gop{
        background-color: rgba(172, 195, 173, 0.4);
    }

    .display-box.ms{
        background-color: rgba(223, 255, 255, 0.4);
    }

    .display-box h2{
        text-align: center;
        grid-column: 1 / -1;
        text-decoration: underline;
    }

.description{
    font-size: 1.6em;
    text-align: center;
    grid-row: 2 / -1;
    grid-column: 2 / 3;
}

#website{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
    background-color: rgba(223, 255, 255, 0.4);
}

#pig{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
    background-color: rgba(172, 195, 173, 0.4);
}

#minecraft{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
    background-color: rgba(223, 255, 255, 0.4);
}