#main{
    background-color: hsla(29, 100%, 71%, 0.5);
    scroll-margin-top: 50px;
    padding: 15px;
}

#contact{
    background-color: rgb(255, 255, 152, .5);
    scroll-margin-top: 50px;
    height: 340px;
}

#projects{
    background-color: rgb(60, 255, 60, .5);
    scroll-margin-top: 50px;
}

#skills{
    background-color: rgb(0, 238, 255, .5);
    scroll-margin-top: 50px;
}